@charset "utf-8";

.submenu{display: none;}


.gnb{width: 1000px;margin: 0 auto;background: skyblue;position: relative;z-index:99999}
.gnb > ul > li{float: left;width: calc( 100% / 5 );height: 50px;}
.gnb > ul > li > a{display: block;line-height: 50px;text-align: center;}
.gnb > ul > li:hover .submenu{display: block;background: pink;}
.submenu li a{display: block;line-height: 40px;text-align: center;}


.visual{height: 300px;background: gold;}
.visual img{width: 100%;}