@charset 'utf-8';
html,body{height: 100%;}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
.clearfix{content: ""; display: block; clear: both;}
a:link,a:visited{text-decoration: none; color: #111111;}

.wrap{width: 1200px; margin: 0 auto;}

/* header */
#header{
    background: #ddd; height: 100px;
    padding: 30px;
    display: flex; justify-content: space-between; align-items: center;
}
#header .logo{
    background: #fff; width: 200px; height: 40px;
    text-align: center;
}
.main{
    width: 600px; height: 100%;
    display: flex; justify-content: space-around; align-items: center;
}
.main a{
    width: 100%; text-align: center;
    line-height: 50px;
}
.main a:hover{
    background: #444; color: #fff;
}

.sub{
    width: 1200px; background: #bbb3b3; padding: 30px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}
.subWrap{
    width: 600px; height: 100%;
    display: flex; justify-content: space-around; align-items: center;
}
.subWrap ul{width: 100%;}
.subWrap a{
    display: block; text-align: center;
    line-height: 40px;
}
.subWrap a:hover{
    color: #ff0;
    background: rgba(0, 0, 0, 0.5);
}