@charset "utf-8";

html,body{height: 100%;}
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a:link,a:visited{text-decoration: none; color: #333;}
.clearfix::after{content:""; display: block; clear: both;}

#wrap{width: 1200px; margin: 0 auto;}

#header{
    height: 100px; padding: 30px 0; 
    padding-right: 20px; background: #ccc; 
    position: relative; z-index: 999;
}
#header h1.logo{
    width: 200px; height: 40px; 
    float: left; background: #888;
}
#header nav.nav{float: right;}
#header .menu > li{float: left; width: 150px; background: #888; position: relative;}
#header .menu > li > a:hover{background: orange;}
#header .menu > li:hover a{color: #fff;}
#header .menu > li > a{display: block; line-height: 40px; text-align: center;}

#header .menu .submenu{display: none; background: skyblue; position: absolute; width: 100%;}
/* #header .menu > li:first-child .submenu{display: block;} */
#header .submenu li a{display: block; line-height: 40px; text-align: center;}
#header .submenu li a:hover{background: #f86503;}

/* #header .menu > li:hover .submenu{display: block;}  <제이쿼리를 사용할거면 주석처리를 해야 함 */

/* slider */
/* slide left */
/* #slider{position: relative; width: 1200px; height: 480px; overflow: hidden;}
#slider .slide{position: absolute; display: flex; left: 0; width: 400%;}
#slider .slide .slide_item{
    display: flex; justify-content: center; align-items: center; 
    width: 1200px;
}
#slider .slide .slide_item h2{
    position: absolute; background: pink; 
    padding: 10px 30px; border-radius: 10px;
}
#slider .slide .slide_item img{width: 100%;} */

/* slide up */
/* #slider{position: relative; width: 1200px; height: 480px; overflow: hidden;}
#slider .slide{position: absolute; top: 0;}
#slider .slide .slide_item{
    display: flex; justify-content: center; align-items: center; 
    width: 1200px;
}
#slider .slide .slide_item h2{
    position: absolute; background: pink; 
    padding: 10px 30px; border-radius: 10px;
}
#slider .slide .slide_item img{width: 100%;} */

/* fade */
#slider{position: relative; width: 1200px; height: 480px;}
#slider .slide{position: absolute; top: 0;}
#slider .slide .slide_item{
    display: flex; justify-content: center; align-items: center; 
    width: 1200px; position: absolute;
}
#slider .slide .slide_item h2{
    position: absolute; background: pink; 
    padding: 10px 30px; border-radius: 10px;
}
#slider .slide .slide_item img{width: 100%;}


#contents > div{float: left; width: calc( 100% / 3 );}

#contents .content ul{display: none;}
#contents .content ul:nth-child(1){display: block;}

#contents .cont1{padding: 16px; background: #ccc;}
#contents .tab{margin-bottom: 20px;}
#contents .tab > div{
    float: left; padding: 10px 15px; cursor: pointer;
    border: 1px solid gray; border-left: 0 none;
    background: white;
}
#contents .tab > div:nth-child(1){border-left: 1px solid gray;}
#contents .tab > div.active{background: gray;}
#contents .tab > div.active a{color: #fff;}

#contents .notice li{position: relative; margin-bottom: 15px;}
#contents .notice li a{
    display: block; width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-indent: 10px;
}
#contents .notice li a::before{
    content: ""; position: absolute; 
    width: 3px; height: 3px;
    background: #000;
    left: 0; top: calc(50% - 1px); border-radius: 50%;
}
#contents .notice li span{position: absolute; right: 0; top: 0;}

#contents .gall{padding: 10px 0;}
#contents .gall li img{width: 100%; display: block;}
#contents .gall li{float: left; width: calc( ( 100% - 20px ) / 3 ); margin-right: 10px;}
#contents .gall li:last-child{margin-right: 0;}

#contents .cont2{position: relative;}
#contents .cont2 img{display: block;}
#contents .cont2 h3{
    position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
    background: skyblue; padding: 10px 20px;
}
#contents .cont3{position: relative;}
#contents .cont3 a{display: block;}
#contents .cont3 img{display: block;}
#contents .cont3 h3{
    position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
    background: skyblue; padding: 10px 20px;
}

.popView{
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed; top: 0; left: 0;
    z-index: 9999;
    /* display: flex; justify-content: center; align-items: center; */
    display: none;
}
.popView .container{
    width: 500px; height: 300px;
    background: white;
    padding: 20px;
    position: absolute;
    left: 50%; top: 50%; transform: translate(-50%,-50%);
}
.popView .container .close{
    background: skyblue;
    position: absolute;
    padding: 5px 15px;
    cursor: pointer;
    right: 20px; bottom: 20px;
}
