@charset 'utf-8';
*{margin: 0;padding: 0; box-sizing: border-box;}
li{list-style:none;}
.clearfix:after{content:"";display:block;clear:both;}
img{display: block;}
a:link,a:visited{color: black;text-decoration: none;}
body{
    font-family: 'Roboto', sans-serif;
    min-width: 980px; /* 최소값 */
}


/* header start */

/* util_menu */

.util_wrapper{
    width: 980px;
    margin: 0 auto;           
}
.util_wrapper>ul.util{
    float: right;
}
.util_wrapper>ul.util>li{
    float: left; 
    position: relative;
}
.util_wrapper>ul.util>li:after{
    content: ""; width: 1px; height: 11px;
    display: block; background-color: #ccc;
    position: absolute;
    top: 7px;
}
.util_wrapper>ul.util>li:first-child:after{
    content: ""; display: none;
}
.util_wrapper>ul.util>li>a{
    display: block;
    font-size: 12px;
    padding: 6px 10px;
}

.wall{
    height: 1px;
    background-color: #c4c4c4;
}

/* logo */

.logo_wrapper{
    width: 980px;
    margin: 0 auto;
    padding: 23px;
}
.logo_wrapper>h1>a{
    display: block;
    text-align: center;
    font-size: 24px;
    line-height:28px;
}

/* nav */

.nav_wrapper{
    background-color: #1D5DA4;
    border-bottom: 2px solid #000;
}
.nav_wrapper>.nav{
    width: 980px;
    margin: 0 auto;
}
.nav_wrapper>.nav>li{
    float: left;
    width: 16.666%;
    /* border-left: 1px solid #ccc; */
    border-right: 1px solid #336DAC;
    /* box-sizing: border-box; */
}
.nav_wrapper>.nav>li:first-child{border-left: 1px solid #336DAC;}
/* .nav_wrapper>.nav>li:nth-child(6){background-color: orange;} */
.nav_wrapper>.nav>li>a{
    display: block;
    text-align: center;
    line-height: 45px;
    color:#fff;
    font-weight: bold;
}
.nav_wrapper>.nav>li>a:hover{
    background-color: #152e4b;
}


/* header end */

/* visual start */

.visual{
    background-color: #213C6B;
    background-image: url(../images/main_bg01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}


.slide{
    width: 980px;height: 400px;
    /* background-color:pink; */
    margin: 0 auto;
    position: relative;
    overflow: hidden;  /* 부모자의 크기가 넘치면 잘라줌 */
}
.slide .img1{
    position: absolute;
    top: 100px;
}
.slide .img2{
    position: absolute;
    right: 0;  /* overflow: hidden; 부모자의 크기가 넘치면 잘라줌 */
}

/* visual end */

/* banner start */

.bannerWrap{background-color: #eeee;}
.bannerWrap .banner{
    width: 980px; margin: 0 auto;
    margin-bottom: 50px;
}
.bannerWrap .banner li{
    float: left;
    width: 20%; height: 196px;
    padding: 13px;
}
.bannerWrap .banner img{margin: 0 auto; margin-bottom: 10px;}
.bannerWrap .banner h3{font-size: 18px; text-align: center;
    margin-bottom: 5px; color: white;
}
.bannerWrap .banner p{font-size: 14px; text-align: center; color: white;}
.bannerWrap .banner li:nth-child(1){background-color:#7C99B9;}
.bannerWrap .banner li:nth-child(2){background-color:#4F74A1;}
.bannerWrap .banner li:nth-child(3){background-color:#4B8CE0;}
.bannerWrap .banner li:nth-child(4){background-color:#3DB5F2;}
.bannerWrap .banner li:nth-child(5){background-color:#95C8FF;}

/* banner end */

/* section start */

.section_one{width: 980px; margin: 0 auto; margin-bottom: 25px;}
.section_one li.card_one{
    float: left; width: 310px;
    margin-right: 25px;
}
.section_one li:last-child{margin-right: 0;}
.section_one .card_body{
    padding: 16px 16px;
    border: 1px solid #ccc;
    border-top: 0;
}
.section_one h3,
.section_two h3{font-size:18px; margin-bottom: 15px;}
.section_one p,
.section_two p{font-size: 14px; margin-bottom: 15px;}
/* .card_body h3{font-size:18px; margin-bottom: 5px;} */
/* .card_body p{font-size:14px;} */

.card_body .btn{font-size:14px; color: #4B8BE2;}

.section_two{width: 980px; margin: 0 auto; margin-bottom: 50px;}
.section_two li.card_two{
    float: left; width: 310px;
    margin-right: 25px;
    border: 1px solid #ccc;
    padding: 16px;
    position: relative;
    overflow: hidden;
}
.section_two li:last-child{margin-right: 0;}
.section_two .card_two img{
    position: absolute;
    right: -57px; top: 14px;
}

/* section end */

.footerWrap{background-color: #5e5e5e;}
.footerTopWrap{background-color: #4d4d4d;}
.footerWrap .footerTop{width: 980px; margin: 0 auto;}

.footerWrap .footerMenu{float: left;}
.footerWrap .footerMenu li{float: left; position: relative;}
.footerWrap .footerMenu li:after{
    content: ""; display: block;
    width: 1px; height: 13px;
    background-color: #fff; position: absolute;
    top: 13px;
}
.footerWrap .footerMenu li:first-child:after{display: none;}
.footerWrap .footerMenu li a{
    display: block; line-height: 16px;
    font-size: 13px; color: white;
    text-align: center; padding: 13px 15px;
    letter-spacing: -0.075em; 
}
.footerWrap .top{
    float: right;
    width: 67px; height: 42px;
    background-color: #404040;
    padding: 18px;
    }
.footerWrap h3{
    color: #fff;
    font-size: 14px;
    letter-spacing: -0.07em;
    text-align: center;
}
.footerWrap .footerMenu li:first-child a{padding-left: 0;}

.footerWrap .fooerBottom{width: 980px; margin: 0 auto; padding: 20px 0;}
.footerWrap .fooerBottom h3{float: left; width: 120px; color: white; }
.footerWrap .fooerBottom .fbRight{float: left; color: #a2a2a2; font-size: 12px; font-weight: bold;}
.footerWrap address{font-style: normal; color: #a2a2a2; font-size: 12px;}


        .section_two li{
            background-repeat: no-repeat;
            background-position: 150px;
        }
        .section_two li:nth-child(1){
            background-image: url(../images/content_icon01.png);
            /* background-repeat: no-repeat;
            background-position: 150px; */

        }
        .section_two li:nth-child(2){
            background-image: url(../images/content_icon02.png);
            /* background-repeat: no-repeat;
            background-position: 150px; */

        }
        .section_two li:nth-child(3){
            background-image: url(../images/content_icon03.png);
            /* background-repeat: no-repeat; */
            background-position: 160px;
        }
